doctype html
html
  head
    meta(charset="UTF-8")
    title Peerly - Create Post
    // Link to your CSS (using user-settings.css)
    link(rel="stylesheet", href="/stylesheets/user-settings.css")
  body
    
    .explore-container
      // LEFT NAVIGATION – identical to your other pages
      nav.left-nav
        h2.logo Peerly
        ul.nav-list
          li.nav-item
            .icon-circle ℹ
            a(href="/api/home") Home
          li.nav-item 
            .icon-circle ℹ
            a(href="/api/users") Explore
          li.nav-item 
            .icon-circle ℹ
            span Messages
          li.nav-item 
            .icon-circle ℹ
            span Notifications
          li.nav-item
            .icon-circle ℹ
            if sessionUserId
              a(href=`/api/users/${sessionUserId}`) Profile
          li.nav-item
            .icon-circle ℹ
            if sessionUserId
              a(href=`/api/users/${sessionUserId}/settings`) Settings
        

        // Logged in user info at the bottom of left nav
        .logged-in
          if sessionProfilePic
            .avatar-circle.logged-in-avatar
              img(src=sessionProfilePic, alt="User Avatar")
          else if sessionUserId
            .avatar-circle.logged-in-avatar
              // Fallback: display first character of the sessionUserId
              | #{sessionUserId[0]}
          if sessionUserId
            span #{sessionUserId}
          else
            span Not logged in.

      
      // MAIN CONTENT – similar "card" layout as the settings page
      main.settings-content
        .settings-card
          h1 Create a New Post
          
          form(method="POST", action="/api/home/create/NewPost", enctype="multipart/form-data")
            // Hidden field for user_id (populated from session)
            input(type="hidden", name="user_id", value=sessionUserId)

            label(for="description") Post Description:
            textarea#description(name="description", required, placeholder="Write something interesting...")

            label(for="postImage") Upload Image (Optional):
            input#postImage(type="file", name="postImage", accept="image/*")

            <br>
            <br>
            label(for="tag_ids") Select Tags:
            // Drop down list with multiple selection enabled
            select#tag_ids(name="tag_ids", multiple, required)
              option(value="", disabled selected) -- Select at least one tag --
              each tag in (tags || [])
                option(value=tag.tag_id)= tag.tag_name

            <br>
            <br>  
            // Wrap the submit button in its own container to force a new line
            .button-container
              button(type="submit") Create Post

      // RIGHT SIDEBAR – identical to your other pages if you’d like
      aside.right-sidebar
        .widget
          h3 Quick Links
          ul
            li: a(href="/api/home") Home
            li: a(href="/api/users") Explore
