doctype html
html
  head
    meta(charset="UTF-8")
    title Peerly - Create Post
    // Link to your CSS (use the same or a similar stylesheet that the settings page uses)
    link(rel="stylesheet", href="/stylesheets/user-settings.css")
  body
    // Show the sessionUserId if you want (optional for debugging)
    p Logged in as: #{sessionUserId}

    .explore-container
      // LEFT NAVIGATION – identical to your other pages
      nav.left-nav
        h2.logo Peerly
        ul.nav-list
          li.nav-item
            .icon-circle ℹ
            a(href="/api/home") Home
          li.nav-item
            .icon-circle ℹ
            a(href="/api/users") Explore
          li.nav-item
            .icon-circle ℹ
            span Messages
          li.nav-item
            .icon-circle ℹ
            span Notifications
          li.nav-item
            .icon-circle ℹ
            if sessionUserId
              a(href=`/api/users/${sessionUserId}`) Profile
          li.nav-item
            .icon-circle ℹ
            if sessionUserId
              a(href=`/api/users/${sessionUserId}/settings`) Settings
      
      // MAIN CONTENT – similar "card" layout as the settings page
      main.settings-content
        .settings-card
          h1 Create a New Post
          
          form(method="POST", action="/api/home/create/NewPost")
            // Hidden field for user_id (replace with actual session-based user_id)
            input(type="hidden" name="user_id" value=sessionUserId)

            label(for="description") Post Description:
            textarea#description(name="description" required placeholder="Write something interesting...")

            label(for="media_url") Image URL (Optional):
            input#media_url(type="text" name="media_url" placeholder="Paste an image URL here")

            label Select Tags:
            .tags-list
              each tag in (tags || [])
                label.tag-checkbox
                  input(type="checkbox", name="tag_ids" value=tag.tag_id)
                  = tag.tag_name
            
            button(type="submit") Create Post

      // RIGHT SIDEBAR – identical to your other pages if you’d like
      aside.right-sidebar
        .widget
          h3 Quick Links
          ul
            li: a(href="/api/home") Home
            li: a(href="/api/users") Explore
