doctype html
html
  head
    meta(charset="UTF-8")
    title #{title}  // e.g. "Post Details"
    // Reuse the same stylesheet as explore:
    link(rel="stylesheet", href="/stylesheets/explore.css")
  body
    .explore-container

      // LEFT NAVIGATION
      nav.left-nav
        h2.logo Peerly
        ul.nav-list
          li.nav-item
            .icon-circle ℹ
            a(href="/api/home") Home
          li.nav-item
            .icon-circle ℹ
            a(href="/api/users") Explore
          li.nav-item
            .icon-circle ℹ
            span Messages
          li.nav-item
            .icon-circle ℹ
            span Notifications
          li.nav-item
            .icon-circle ℹ
            span Profile
          li.nav-item
            .icon-circle ℹ
            span Settings

      // MAIN FEED (CENTER COLUMN)
      main.main-feed
        // SINGLE POST CONTAINER
        if post
          .post-card
            .post-header
              // Optional: If you want user info, add it here
              // e.g. an avatar or user name if you have that data
              
              // If you store the posting user's name in post:
              // h3= post.first_name + " " + post.last_name
              
            .post-body
              // Post description
              p= post.description

              // If there's a media URL:
              if post.media_url
                img(src=post.media_url, alt="Post Image", style="max-width: 100%; border-radius: 8px;")

          // COMMENTS SECTION
          .comments-section
            h3 Comments
            if comments && comments.length
              each comment in comments
                .comment-card
                  // Show comment author
                  h4 #{comment.first_name} #{comment.last_name}
                  // Show comment text
                  p= comment.description
                  // Optional date/time:
                  // p= comment.created_at
                  hr
            else
              p No comments yet.
        else
          h2 No post found

      // RIGHT SIDEBAR
      aside.right-sidebar
        .widget
          h3 See what's trending
          ul
            li Lorem ipsum dolor
            li Lorem ipsum dolor
            li Lorem ipsum dolor
        .widget
          h3 Chat
          ul
            li
              .icon-circle X
              span Account Name
