doctype html
html
  head
    meta(charset="UTF-8")
    title Account Page
    link(rel="stylesheet", href="/stylesheets/user-account.css")
  body
    .container
      // LEFT NAV
      nav.left-nav
        h2.logo Peerly
        ul.nav-list
          li.nav-item
            .icon-circle ℹ
            span Home
          li.nav-item
            .icon-circle ℹ  
            a(href="/explore") Explore
          li.nav-item
            .icon-circle ℹ
            span Messages
          li.nav-item
            .icon-circle ℹ
            span Notifications
          li.nav-item.active
            .icon-circle ℹ
            span Profile
          li.nav-item
            .icon-circle ℹ
            span Settings

      // MAIN CONTENT
      main.profile-content
        // Profile Header
        
        .profile-header.widget
        .cover-photo

        .profile-info
            if users && users.profile_picture
            img.profile-pic(src=users.profile_picture, alt="Profile Picture")

            if users
                h2= users.first_name + " " + users.last_name
            else 
                h2 User Not Found 
            


        // Profile Body (Info widget + Post feed)
        .profile-body
          .info-widget.widget
            h3 Info
            if users
              ul
                li Field of Study: #{users.field_id}
                li DOB: #{users.dob}
                li City: #{users.city}
                li Work: #{users.work_at}
                li Relationship: #{users.relationship_status}
            else 
              p User data is not available.
              
          .post-feed
            .post-card.widget
              .post-header
                .avatar-circle
                .post-user
                  h3 Account Name
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                //i.more-options ⋮
              .post-image

      // RIGHT SIDEBAR
      aside.right-sidebar.widget
        h3 Chat
        ul
          li
            .icon-circle ℹ
            span Account Name
